# Python Crash Course

## Quick reminders for basic Python syntax and concepts

### hello world

**import built-in libaries**

In [34]:
import os
print(os.listdir())

['.ipynb_checkpoints', 'Clustering.ipynb', 'CNN-Test.ipynb', 'CNNSamples.ipynb', 'ConvolutionNN-Version2.ipynb', 'ConvolutionNN.ipynb', 'data', 'DataPreprocessing.ipynb', 'DataVisualization.ipynb', 'DA_Fall21_HW_1_withanswers.ipynb', 'Decision Trees.ipynb', 'Ensemble Learning.ipynb', 'ExploratoryDataAnalysis.ipynb', 'FinalProject-AP.ipynb', 'jena_climate_2009_2016.csv', 'jena_conv.keras', 'jena_dense.keras', 'jena_lstm.keras', 'jena_lstm_dropout.keras', 'jena_stacked_gru_dropout.keras', 'Linear Regression.ipynb', 'Logistic Regression.ipynb', 'LSTMTimeSeries.ipynb', 'LSTMTimeSeriesV2.ipynb', 'MLP.ipynb', 'ML_Sp23_EDA-Yoda.ipynb', 'ML_Sp23_EDA.ipynb', 'ML_Sp23_EDA_with_answers.ipynb', 'ML_SP23_Linear_Regression.ipynb', 'ML_SP23_Linear_Regression_withanswers.ipynb', 'MyFirstHW.ipynb', 'MyFirstNotebook.ipynb', 'Naive Bayes Classifier.ipynb', 'NaiveBayes.ipynb', 'Pandas.ipynb', 'Polynomial Regression.ipynb', 'Python.ipynb', 'RecurrentNeuralNetwork.ipynb', 'smsspamcollection', 'SpamMailClassifer.ipynb', 'SVM.ipynb', 'TensorBasics.ipynb', 'Tensorflow Basics.ipynb', 'TestInstallation.ipynb']

In [2]:
print("Current Directory", os.getcwd())

Current Directory C:\Users\gogoc\OneDrive - Temple University\Temple\TempleCourses\Sp24\cis4526-Sp24\notebooks

In [3]:
import getpass
getpass.getuser()

'gogoc'

## standard libaries for DataFrame and Data Visualization

In [4]:
import pandas as pd
import numpy as np
import seaborn as sns

## Data Types: string, int, float, boolean

In [5]:
name = 'Alex'
greetings = "I am your professor"
course = "Machine Learning"
number_of_hw = 4

In [6]:
message = "Hello my name is {}. {} in {} course.".format(name, greetings, course)
message += "There will be {} homework".format(number_of_hw)
print(message)

Hello my name is Alex. I am your professor in Machine Learning course.There will be 4 homework

In [11]:
hw = 0.3
mid_term = 0.2
final_project = 0.2
final_exam = 0.3

In [12]:
total = hw + mid_term + final_project + final_exam
print(total)

1.0

In [13]:
total = "I am a string"
print(type(total))
total = 100.0
print(type(total))

<class 'str'>
<class 'float'>

In [14]:
flag = 3 > 2
if flag:
    print("yes")
else:
    print("no")

yes

In [15]:
flag = (1 + 1 == 2)
flag

True

## List

In [35]:
current_students = [ "Alex", "Joe", "Mary"]

In [36]:
new_students = ["Henry", "Chris"]

In [37]:
all_students = current_students + new_students
all_students

['Alex', 'Joe', 'Mary', 'Henry', 'Chris']

In [41]:
all_students.append("Donald")
all_students

['Alex', 'Joe', 'Mary', 'Henry', 'Chris', 'Donald', 'Donald', 'Donald']

In [42]:
print(all_students[0])
print(all_students[3])

Alex
Henry

**list comprehension**

In [43]:
city = ["hong kong", "usa", "china", "india"]
CITY = [ v.upper() for v in city]
print(city)
print(CITY)

['hong kong', 'usa', 'china', 'india']
['HONG KONG', 'USA', 'CHINA', 'INDIA']

In [44]:
x = 'Alex'
print(type(x))

x = 1.3
print(type(x))
x = 4
print(type(x))

<class 'str'>
<class 'float'>
<class 'int'>

## Dictionaries

In [45]:
d = {'key1':'item1','key2':'item2'}

In [46]:
d

{'key1': 'item1', 'key2': 'item2'}

In [47]:
type(d)

dict

In [48]:
type(city)

list

In [49]:
d['key1']

'item1'

## if else statements, logical operators, for loop

In [50]:
if 3 > 2:
    print("Yes")
else:
    print("No")

Yes

In [51]:
x = 7
if x < 3:
    print("x less than 3")
elif x <= 6:
    print("x equal or less than 6")
elif x < 9:
    print("x less than 9")
else:
    print("x is equal or larger than 9")

x less than 9

In [30]:
d

{'key1': 'item1', 'key2': 'item2'}

In [52]:
for k, v in d.items():
    print("{} is mapped to {}".format(k, v))

key1 is mapped to item1
key2 is mapped to item2

In [32]:
'key3' in d

False

In [33]:
'key1' in d

True